.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  justify-content: center;

  @media screen and (min-width: 1199.9px) {			
		flex-wrap: nowrap;
	}
}

.team__item {
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  
  @media screen and (min-width: 768px) {
    --items: 2;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items)); 
  }

  @media screen and (min-width: 1199.9px) {
    --items: 4;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}

.team__person {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {    
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: .03em;
  margin-bottom: 30px;

  @media screen and (min-width: 1199.9px) {
font-size: 36px;
line-height: calc(36 / 42);
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px
  }
}

.team__sub-title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.team__description {
  font-size: 16px;
  padding-bottom: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*.team_img {
  margin: auto;
  width: 100%;
}*/