:root {
  --main-background-color: #ffffff;
  --secondary-background-color: hsl(235, 10%, 21%);
  --third-background-color: #f5f4fa;
  --hero-title-color: #ffffff;
  --main-title-color: #212121;
  --main-text-color: #757575;
  --primary-text-color: #757575;
  --accent-text-color: #2196f3;
  --pasive-button-color: #2196f3;
  --active-button-color: #188ce8;
  --button-text-color: #ffffff;
  --logo-web-text-color: #2196f3;
  --first-studio-text-color: #000000;
  --second-studio-text-color: #ffffff;
  --adress-text-color: #ffffff;
  --animation-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --indent: 30px;
  --items: 4;
  --column-for-tablet: 2;
  
}
